
.rowText {
    cursor: pointer;
}

.rowForm {
    display:inline;
}

.add {
    color:#33cc33;
    font-size: 20pt;
    cursor:pointer;
    margin:0;
    padding: 0;
}

.delete {
    color:red;
    font-size: 20pt;
    cursor: pointer;
    margin:0;
    padding: 0;
}

.add:hover {
    text-decoration: none;
}

.delete:hover {
    text-decoration: none;
}

.outline {
    fill-opacity:0;
    stroke:black;
    stroke-width:1;
}

.highlight{
    color: #5DD39E;
}

.highlight .outline{
    stroke-width:2;
    stroke: #BCE784;
    color: #BCE784;
}

.thumbnail {
    max-width: 80px;
    max-height: 80px;
    height: auto;
    width: auto;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:#5DD39E;
}

.like {
    text-align:center;
    margin:auto;
    cursor: pointer;
}

#like .fa-heart{
    color: grey;
}

#liked .fa-heart {
    color: #F35378;
}

.half {
    margin-left: 5%;
    margin-right: 5%;
}

#savePattern {
    display: inline;
}

/*searchbar {
    margin:auto;
    text-align: center;
}*/

body {
    color:#348AA7;
    background: url('/static/background/knitting250px/knitting250px.png');
    font-family: 'Raleway', sans-serif;
}

a {
    color:#348AA7;
}

.navbar {
    background-color: #BCE784;
    color: #348AA7;
}

.navbar-light .navbar-nav .nav-link {
    color: #348AA7;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:   #2a7189;
}

.navbar .navbar-brand {
    color: #c19ab7;
}

.navbar .navbar-brand:hover {
    color: #a8719a;
}

a:hover {
    text-decoration: none;
    color:   #2a7189;

}
/*.home-table {
    background-color: #ecdfe9;
}*/

.fa-question-circle {
    font-size: 60%;
    color:#c19ab7;
}

.fa-question-circle:hover {
    color:#a8719a;
    cursor: pointer;
}

#nameBox {
    display: inline;
}

.text-input {
    opacity:.5;
}

.btn-outline-secondary{
    border-color: #a8719a;
    color:#a8719a;
}

.btn-outline-secondary:hover {
    background-color:#c19ab7;
}

table, tbody, tr, td, .table td{
    border-top-color: #525174;
}

.btn:focus,.btn:active:focus,.btn.active:focus{
    box-shadow: none;
}

#news {
    margin-bottom: 20px;
}

.pages {
    cursor:pointer;
    text-align: center;
}

.pagenums {
    text-align:center;
}
.numpages {
    text-align:center;
}

.currentPage {
    color:#525174;
    text-align:center;
}

.svgstitch {
    cursor: pointer;
}