{% extends 'base.html' %}
{% block HEAD %}<title>Pixel Stitch</title>{% endblock %}
{% block BODY %}
<div class="container-fluid">
    <div class="row justify-content-center" id="news">
        <div class="col-7 col-md-4">
            <h2>News</h2>
            <ul>
                <li>
                    Most Popular shows up on the homepage!
                </li>
                <li>
                    Added stitches "CBK", "CFK", "CBP", "CFP": Cabling FTW!
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">
            <h4> Most Popular </h4>
        </div>
            <div class='col-4 offset-1'>
            <h4> Newest </h4>
        </div>
    </div>
    <div class="row">
        <table class="table col offset-2">
            {% for pattern in most_liked %}
            <tr>
                <td><a href="/patterns/{{pattern[0]}}">{{pattern[1]}}</a></td>
                <td><a href="/patterns/{{pattern[0]}}"><img src="{{pattern[2]}}" class="thumbnail"></a></td>
            </tr>
            {% endfor %}
        </table>
        <table class="table col offset-1">
            {% for pattern in latest %}
            <tr>
                <td><a href="/patterns/{{pattern[0]}}">{{pattern[1]}}</a></td>
                <td><a href="/patterns/{{pattern[0]}}"><img src="{{pattern[2]}}" class="thumbnail"></a></td>
            </tr>
            {% endfor %}
        </table>
        <div class='col-2'>
    </div>
</div>
{% endblock %}