{% extends 'base.html' %}
{% block HEAD %}<title>Home</title>{% endblock %}
{% block BODY %}
<div class="container-fluid">
    <div class="row" id="news">
        <div class="col-10 offset-1">
            <h2>News</h2>
            <ul>
                <li>
                    Most Popular shows up on the homepage!
                </li>
                <li>
                    Added stitches "CBK", "CFK", "CBP", "CFP": Cabling FTW!
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4> Most Popular </h4>
            <table class="table col-10 offset-1">
                {% for pattern in most_liked %}
                <tr>
                    <td><a href="/patterns/{{pattern[0]}}">{{pattern[1]}}</a></td>
                    <td><a href="/patterns/{{pattern[0]}}"><img src="{{pattern[2]}}" class="thumbnail"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class='col-6'>
            <h4> Newest </h4>
            <table class="table col-10 offset-1">
                {% for pattern in latest %}
                <tr>
                    <td><a href="/patterns/{{pattern[0]}}">{{pattern[1]}}</a></td>
                    <td><a href="/patterns/{{pattern[0]}}"><img src="{{pattern[2]}}" class="thumbnail"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}