{% extends 'base.html' %}
{% block HEAD %}<title>Create Pattern</title>

{% endblock %}
{% block BODY %}
<div class="container-fluid">
    <div class="row">
        <div id="textSide" class="col-4">
            <h3> Pattern Text</h3>
            <div id="text">
            </div>

        </div>
        <div id="svgSide"class="col-8">
            <svg id="svg"></svg>
        </div>
    </div>
</div>





<script src="/static/lib/Snap.svg-0.5.1/dist/snap.svg-min.js"></script>
<script scr='/static/lib/snapHelperFunctions.js'></script>
<script src="/static/lib/underscore.js"></script>
<script src="/static/js/patternMaker.js"></script>

{% endblock %}