{% extends 'base.html' %}
{% block HEAD %}<title>{{pattern.pattern_name}}</title>{% endblock %}
{% block BODY %}
<h1>{{pattern.pattern_name}}</h1>
<h4>Created by user #{{pattern.user_id}}</h4>
<button id="like" class="like" display='none'>Like</button>
<button id="liked" class="like" display='none'>Unlike</button>
<pre>{{pattern.pattern_text}}</pre>
<img src='{{pattern.pattern_url}}'>


<script>
  const likeStatus = '{{ to_like }}';
</script>
<script type="text/javascript" src="/static/js/pattern.js"></script>

{% endblock %}