{% extends 'base.html' %}
{% block HEAD %}<title>Create Pattern</title>

{% endblock %}
{% block BODY %}
<div id="root" class="container-fluid">

</div>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/reactstrap@6.0.1/dist/reactstrap.full.min.js"></script>

<script src="/static/lib/snap_svg_min.js"></script>
<script type="text/jsx" src="/static/lib/snapHelperFunctions.js"></script>
<script type="text/jsx" src="/static/js/parsePatternText.js"></script>
<script type="text/jsx" src="/static/js/stitchClasses.js"></script>
<script type="text/jsx" src="/static/js/patternMakerReact.js"></script>

{% endblock %}