{% extends 'base.html' %}
{% block HEAD %}<title>Your Page</title>{% endblock %}
{% block BODY %}
<div class="row">
    <div class="col-6">
<h4>Patterns You Created:</h4>
{% if user.created_patterns %}
    <table class="table">
    {% for pattern in user.created_patterns %}
        <tr>
            <td>
                <a href="/patterns/{{pattern.pattern_id}}">{{pattern.pattern_name}}</a>
            </td>
            <td>
                <a href="/patterns/{{pattern.pattern_id}}"><img src="{{pattern.pattern_url}}" class="thumbnail"></a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<p>
<br>
You haven't made any patterns yet!
<br>
Make one <a href="/patterns/new">here</a>
</p>
{% endif %}
</div>
<div class="col-6">
    <h4>Patterns You Like:</h4>
    {% if user.likes %}
        <table class="table">
            {% for pattern in user.likes %}
                <tr>
                    <td>
                        <a href="/patterns/{{pattern.pattern_id}}">{{pattern.pattern_name}}</a>
                    </td>
                    <td>
                        <a href="/patterns/{{pattern.pattern_id}}"><img src="{{pattern.pattern_url}}" class="thumbnail"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>
            <br>
            You haven't liked any patterns yet!
            <br>
            Check some out <a href="/patterns">here</a>
            </p>
    {% endif %}
</div>
</div>
{% endblock %}